@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

:root {
    --primary-color: #402E32;
    --secondary-color: #833B0B;
    --tertiary-color: #D28E3D;
    --light-color: #FDFBD5;
    --highlight-color: #E8ADA5;
}

@font-face {
    font-family: meows;
    src: url(../fonts/Meows-VGWjy.ttf);
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: var(--light-color);
    font-family: 'Ubuntu', sans-serif;
    color: var(--primary-color);
}

p {
    font-size: 120%;
    line-height: 120%;
}

/* Headings and Logo */

h1 {
    font-family: meows, sans-serif;
    color: var(--primary-color);
    font-weight: 100;
}

h4 {
    font-size: 120%;
    margin-bottom: 15px;
    text-decoration: underline;
}

#logo {
    font-size: 500%;
    margin-left: 30px;
    margin-top: 30px;
    float: left;
}

/* Navigation menu */

#menu {
    font-size: 100%;
    list-style: none;
    float: right;
}

#menu li {
    display: inline-block;
    margin: 30px;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    color: var(--highlight-color);
}

#menu .active {
    color: var(--highlight-color);
    font-size: 120%;
}

li:has(> a.active) {
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 10px;
}

/* Hero image section */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
}

#cover-text h2 {
    color: var(--light-color);
    padding: 30px;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-images/cat-on-counter.webp) no-repeat center center;
    background-size: cover;
}

#cover-text {
    position: absolute;
    bottom: 65%;
    right: 15%;
    max-width: 300px;
    width: auto;
    height: auto;
    text-align: center;
    background-color: rgba(131, 59, 11, 0.7);
    border-radius: 10px;
}

/* About section */

.circle-section {
    width: 100%;
    text-align: center;
}

.circle-section h2 {
    margin-bottom: 30px;
}

.about-group {
    width: 50%;
    margin-bottom: 30px;
    position: relative;
    display: inline-block;
}

.about-group h3 {
    font-size: 250%;
    text-decoration: none;
}

#about-section .text-panel-right {
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    width: 85%;
    padding: 30px;
    padding-left: 60px;
    margin: auto;
    line-height: 100%;
    position: absolute;
    top: 50%;
    left: 50px;  
    transform: translate(0,-50%);
    z-index: -1;
}

#about-section .text-panel-left {
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    width: 85%;
    padding: 30px;
    padding-right: 60px;
    margin: auto;
    line-height: 100%;
    position: absolute;
    top: 50%;
    right: 50px;  
    transform: translate(0, -50%);
    z-index: -1;
}

.round-image-left {
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    padding: 30px;
    height: 50px;
    width: 50px;
    float: left;
    background: var(--secondary-color);
    color: var(--light-color);
}

.round-image-right {
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    padding: 30px;
    height: 50px;
    width: 50px;
    float: right;
    background: var(--tertiary-color);
    color: var(--light-color);
}

/* Contact section */

#contact {
    margin-top: 30px;
    height: 300px;
}

#contact div {
    width: 50%;
    height: 100%;
    text-align: center;
    float: left;
    background-color: var(--primary-color);
    color: var(--light-color);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

#address {
    height: 100%;
    width: 100%;
}

#map {
    height: 100%;
    width: 100%;
}

#map iframe {
    height: 100%;
    border: 2px solid var(--light-color);
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    margin-left: 30px;
}

/* Footer */

footer {
    text-align: center;
}

#social-networks > li {
    display: inline;
}

#social-networks i {
    font-size: 150%;
    margin: 30px;
    color: var(--primary-color);
    text-align: center;
}

/* Cats Page */

/* Cats Hero Image Section */

#hero-image-cats {
    height: 600px;
    background: url(../images/hero-images/cat-cafe-room.webp) no-repeat center center;
    background-size: cover;
}

/* Cat Introduction Section */

#cats-section img {
    object-fit: fill;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}

#cats-section .round-image-left {
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    padding: 0;
    height: 150px;
    width: 150px;
    float: left;
    background: var(--secondary-color);
    color: var(--light-color);
}

#cats-section .round-image-right {
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    padding: 0;
    height: 150px;
    width: 150px;
    float: right;
    background: var(--tertiary-color);
    color: var(--light-color);
}

#cats-section .text-panel-right {
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    width: 80%;
    padding: 15px;
    margin: auto;
    line-height: 100%;
    position: absolute;
    top: 50%;
    left: 75px;  
    transform: translate(0,-50%);
    z-index: -1;
}

#cats-section .text-panel-left {
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    width: 80%;
    padding: 15px;
    margin: auto;
    line-height: 100%;
    position: absolute;
    top: 50%;
    right: 75px;  
    transform: translate(0,-50%);
    z-index: -1;
}

#cats-section .text-panel-right h4, #cats-section .text-panel-right p {
    padding-left: 100px;
    padding-bottom: 15px;
}

#cats-section .text-panel-left h4, #cats-section .text-panel-left p {
    padding-right: 100px;
    padding-bottom: 15px;
}

/* Gallery section */

#gallery {
    background-color: var(--primary-color);
    clear: both;
    text-align: center;
    padding: 30px;
}

#gallery h2 {
    margin-bottom: 30px;
    color: var(--light-color);
}

#photos {
    line-height: 0%;
    column-count: 4;
    column-gap: 0px;
}

#gallery img {
    width: 100%;
}

.img-wrapper {
    width: 100%;
    display: inline-block;
    overflow: hidden;
    border: 2px solid var(--primary-color);
    box-sizing: border-box;
}

#gallery img:hover {
    animation-name: gallery-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes gallery-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}

/* Menu Page */

/* Menu Hero Image Section */

#hero-image-menu {
    height: 600px;
    background: url(../images/hero-images/menu-hero.webp) no-repeat center center;
    background-size: cover;
}

/* Menu section */

#menu-section {
    margin-bottom: 30px;
}

#menu-section .about-group {
    margin: 0 auto;
    position: unset;
    display: flex;
    column-count: 1;
}

#menu-section .text-panel {
    border-radius: 10px;
    width: 100%;
    padding: 30px;
    margin: 30px;
    line-height: 100%;
    overflow: hidden;
    background-color: var(--primary-color);
    color: var(--light-color);
}

#drinks ul, #food ul {
    list-style-type: none;
    width: 50%;
    float: left;
    text-align: center;
}

#drinks li, #food li {
    margin: 15px;
}

/* Adopt Page */

/* Adopt Hero Image section */

#hero-image-adopt {
    height: 600px;
    background: url(../images/hero-images/calico-on-bench.webp) no-repeat left center;
    background-size: cover;
}

/* Form section */

.signup-form {
    width: 50%;
    margin: 0 auto;
    color: var(--light-color);
    background-color: var(--primary-color);
    padding: 30px;
    border-radius: 10px;
}

.signup-form h2 {
    margin-bottom: 30px;
    text-align: center;
}

.text-input {
    background: transparent;
    color: var(--light-color);
    width: 100%;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 30px;
    border: 2px solid var(--light-color);
    border-radius: 10px;
}

.text-input:hover {
    border-color: var(--highlight-color);
}

.radio-input {
    margin-top: 15px;
    margin-bottom: 30px;
    margin-right: 30px;
    margin-left: 5px;
    background-color: var(--highlight-color);
}

.apply-button {
    margin-top: 30px;
    border-radius: 10px;
    padding: 15px 30px 15px 30px;
    text-align: center;
    margin: 0 auto;
    font-size: 100%;
    background-color: var(--highlight-color);
    color: var(--primary-color);
    display: block;
}

.apply-button:hover {
    background-color: var(--light-color);
    color: var(--primary-color);
}

/* Error page */

#error-section {
    width: 70%;
    margin: 0 auto;
    clear: both;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#error-section div {
    flex: 1;
}

#error-section img {
    height: 600px;
}

#error-section h2 {
    text-align: center;
}

/* Media queries */

/* For medium screen sizes from 1200px wide and down */

@media screen and (max-width: 1200px) {
    header {
        text-align: center;
    }

    #logo, #menu {
        float: none;
    }
}

/* For medium screen sizes below 950px wide and down */

@media screen and (max-width: 950px) {

    /* Reposition cover-text */
    #cover-text {
        right: 5%;
        text-align: center;
    }

    /* Restyle circle section to show circle above text panel */
    .about-group {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 30px;
        position: unset;
        display: block;
    }

    #about-section .text-panel-right, #about-section .text-panel-left, #cats-section .text-panel-left, #cats-section .text-panel-right {
        margin: 0 auto;
        position: unset;
        transform: translate(0,0);
    }

    .round-image-left, .round-image-right, #cats-section .round-image-right, #cats-section .round-image-left {
        float: none;
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .round-image-right {
        background: var(--tertiary-color);
    }

    #cats-section .text-panel-right h4, #cats-section .text-panel-right p, #cats-section .text-panel-left h4, #cats-section .text-panel-left p {
        padding-left: 0;
        padding-right: 0;
    }

    /* Restyle contact section to show address and map above each other */
    #contact div {
        width: 100%;
    }

    /* Restyle menu page to show only 1 column in menu section */
    #drinks ul, #food ul {
        list-style-type: none;
        width: 100%;
        float: none;
        margin-bottom: 30px;
        text-align: center;
    }

    /* Restyle gallery to show only 3 columns */
    #photos {
        column-count: 3;
    }
}

/* For small screen sizes 750px and down */

@media screen and (max-width: 750px) {
    #photos {
        column-count: 2;
    }

    #logo {
        font-size: 300%;
    }

    #menu li {
        margin: 15px;
    }

    #hero-outer, #hero-image {
        height: 400px;
    }

    #cover-text {
        bottom: 10%;
        right: 5px;
    }

    .about-group {
        width: 90%;
    }

    #about-section .text-panel-left, #about-section .text-panel-right {
        width: unset;
    }

    #contact {
        height: 200px;
    }

    #menu-section .text-panel {
        margin: 15px;
    }

    #form-section {
        width: 90%;
        margin: 0 auto;
    }

    .signup-form {
        width: unset;
        margin: 0 auto;
    }

    .radio-group {
        display: flex;
        flex: row;
        align-items: center;
        gap: 15px;
    }

    .radio-input {
        margin: 15px 0 15px;
    }

    #error-image {
        scale: 60%;
    }

    #error-section {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-content: center;
    }
}