@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

:root {
    --primary-color: #402E32;
    --secondary-color: #833B0B;
    --tertiary-color: #D28E3D;
    --light-color: #FDFBD5;
    --highlight-color: #E8ADA5;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

@font-face {
    font-family: meows;
    src: url(../fonts/Meows-VGWjy.ttf);
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: var(--light-color);
    font-family: 'Ubuntu', sans-serif;
    color: var(--primary-color);
}

/* Logo */

h1 {
    font-family: meows, sans-serif;
    color: var(--primary-color);
    font-weight: 100;
}

h4 {
    margin-bottom: 15px;
    text-decoration: underline;
}

#logo {
    font-size: 500%;
    margin-left: 30px;
    margin-top: 30px;
    float: left;
}

/* Navigation menu */

#menu {
    font-size: 100%;
    list-style: none;
    float: right;
}

#menu li {
    display: inline-block;
    margin: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    color: var(--highlight-color);
    font-size: 120%;
}

#menu .active {
    color: var(--highlight-color);
    font-size: 120%;
}

li:has(> a.active) {
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 10px;
}

/* Hero image section */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
}

#home-cover-text h2 {
    color: var(--light-color);
    padding: 30px;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/cat-on-counter.png) no-repeat center center;
    background-size: cover;
}

#home-cover-text {
    position: absolute;
    bottom: 50%;
    right: 15%;
    max-width: 300px;
    width: auto;
    height: auto;
    text-align: center;
    background-color: rgba(131, 59, 11, 0.7);
    border-radius: 10px;
}

/* About section */

.circle-section {
    width: 100%;
    text-align: center;
}

.circle-section h2 {
    margin-bottom: 30px;
}

.about-group {
    width: 50%;
    margin: auto;
    position: relative;
    display: inline-block;
}

.about-group h3 {
    font-size: 250%;
    text-decoration: none;
}

.text-panel-right {
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    width: 90%;
    padding: 30px;
    margin: auto;
    line-height: 50%;
    position: absolute;
    top: 50%;
    right: 0;  
    transform: translate(0,-50%);
    z-index: -1;
}

.text-panel-left {
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    width: 90%;
    padding: 30px;
    margin: auto;
    line-height: 50%;
    position: absolute;
    top: 50%;
    left: 0;  
    transform: translate(0, -50%);
    z-index: -1;
}

.round-image-left {
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    padding: 30px;
    height: 50px;
    width: 50px;
    float: left;
    background: var(--secondary-color);
    color: var(--light-color);
}

.round-image-right {
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    padding: 30px;
    height: 50px;
    width: 50px;
    float: right;
    background: var(--tertiary-color);
    color: var(--light-color);
}

/* Contact section */

#contact {
    margin-top: 30px;
    height: 200px;
}

#contact div {
    width: 50%;
    text-align: center;
    float: left;
    background-color: var(--primary-color);
    color: var(--light-color);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

#address {
    height: 100%;
    width: 100%;
}

#map {
    height: 100%;
    width: 100%;
}

#map iframe {
    border: 2px solid var(--light-color);
    border-radius: 10px;
    margin-right: 30px;
    margin-left: 30px;
}

/* Footer */

footer {
    text-align: center;
}

#social-networks > li {
    display: inline;
}

#social-networks i {
    font-size: 150%;
    margin: 30px;
    color: var(--primary-color);
    text-align: center;
}

/* Cats Page */

/* Cats Hero Image Section */

#hero-image-cats {
    height: 600px;
    background: url(../images/cat-on-counter.png) no-repeat center center;
    background-size: cover;
}

/* Cat Introduction Section */

#cats-section img {
    object-fit: fill;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}

#cats-section .round-image-left {
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    padding: 0;
    height: 100px;
    width: 100px;
    float: left;
    background: var(--secondary-color);
    color: var(--light-color);
}

#cats-section .round-image-right {
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    padding: 0;
    height: 100px;
    width: 100px;
    float: right;
    background: var(--tertiary-color);
    color: var(--light-color);
}

#cats-section .about-group:hover {
    height: 120%;
    width: 60%;
}

/* Gallery section */

#gallery {
    background-color: var(--primary-color);
}